@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', ;
}

body {
  background: #181714 !important;
  overflow-x: hidden !important;

}

.loginMain {
  background-image: url(../public/images/newbgForm.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.loginsBtn {
  border: none !important;
  border-radius: 10px;
  font-size: 1.2rem;
  ;
}

.loginsBtn:hover {
  color: red !important;
}

.dontAccount:hover {
  color: rgb(240, 58, 58) !important;
}



/* ///////////////////////// Dashboard//////////////////////////////// */



.main_dashboard {
  background-image: url(../public/images/wall_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.blur_color{
  background-color: rgba(50,52,59,0.8) !important;
}
.side_main{
  padding-bottom: 5%!important;
}
.side_bar_div{
  padding: 1% 4% !important;
}

 .side-nav-link:hover{
  color:white !important;
  cursor: pointer;
}

.side-nav-link{
  color:#00A8CC !important ;
  cursor: pointer;

}



/* ///// My Fund & My Assets///////// */
.card-title{
  color: #21E6C1;
}
.wallet{
  background: -webkit-linear-gradient(rgb(247, 12, 12), rgb(246, 246, 66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
thead{
   border-bottom: 3px solid #C84771 !important;
 
}
thead th{
  padding: 1% !important;
  color: #9ED5C5 !important;
  font-weight: bold;
}
tbody tr th,td{
  color: #989FAE !important;
  padding: 1% !important;

}
tbody tr:hover{
  background-color:#395144 !important;
}

.all_events_box {
  border-bottom: 2px dashed #f26000;
}

.tabs_events.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color:transparent;
  font-size: 16px;
  font-family: 'redhat-B';
  color: #F26000;
  border-radius: 0;
  border-bottom: 3px solid;
}

.tabs_events.nav-pills .nav-link {
  padding: 14px 35px;
  transition: ease 0.5s;
  color: #639CD9;
  font-family: 'redhat-SB' ;
  font-weight: bold;
}
/* ///////////////////////// */
.tabs_events1.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color:#F2A07B;
  border-radius: 15px;
  /* border-bottom: 2px solid black; */
  color: #7D0633 !important;
  
}


.card-main{
  /* background-color: #2E3036 !important; */
  padding: 5% !important;
  border-radius: 5px;
  background: none;
}
.OrangeText {
  color: #FF7B00;
}
.BtnBorder {
  position: relative;
  font-family: "Trueno SemiBold";
  font-size: 20px !important;
  line-height: 1.5 !important;
  color: #fff;
  z-index: 1;
  padding: 12px 16px !important;
}
.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}
.BtnBorder::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  padding: 2px;
  background: -webkit-linear-gradient(345deg, #F55D0D 0%, #7C0953 100%) no-repeat padding-box;
  background: -o-linear-gradient(345deg, #F55D0D 0%, #7C0953 100%) no-repeat padding-box;
  background: linear-gradient(105deg, #F55D0D 0%, #7C0953 100%) no-repeat padding-box;
  -webkit-mask: -webkit-linear-gradient(345deg, #F55D0D 0%, #7C0953 100%) content-box, -webkit-linear-gradient(345deg, #F55D0D 0%, #7C0953 100%);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.border-0 {
  border: 0 !important;
}

.form-control.h-pxl-48, .form-select.h-pxl-48 {
  min-height: 48px;
}
.form-control, .form-select {
  background-color: #202022;
  border-color: #6A6F7766;
  min-height: 40px;
  color: #707070;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.g-1, .gx-1 {
  --bs-gutter-x: 0.5rem !important;
}
.form-control.h-pxl-48, .form-select.h-pxl-48 {
  min-height: 48px;
}
.form-control, .form-select {
  background-color: #202022 !important ;
  border-color: #6A6F7766 !important;
  min-height: 40px;
  color: #707070 !important;
}
.rounded-1 {
  border-radius: 0.5rem !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ///// My Fund & My Assets End///////// */

/* ////////////////////////////////// media Queries /////////////////////////////////////////////// */

@media screen and (max-width: 1200px) {
  
  .signInCarousel {
    display: none;
  }
  .table-container{
    overflow: scroll;
  }
  .top_main{
    padding: 0% !important;
  }
  .side_bar_div{
    padding: 0.5% !important;
  }
}
