
@import url('https://fonts.cdnfonts.com/css/eurostile');

                

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* @import url('https://fonts.cdnfonts.com/css/love-nature');                */

body{
  overflow-x: hidden !important;
  /* font-family: "Eurostile LT Pro Unicode" !important; */
  /* font-family: 'Love Nature', sans-serif !important; */
                                                
 

}

/* ////////////////////// Login Css /////////////////////////////// */
.main_login{
  background-image: url(/public/images/login_bg.jpeg) !important;
  /* background-repeat: no-repeat; */
  /* width:100% !important; */
  background-size: cover;
  /* height:100%; */
  overflow: hidden;
  background-repeat: no-repeat;
  /* background-size:auto !important; */
  /* padding: "5% 5% 5% 4%" !important; */

  
}
.main_1{
  padding: 8% !important
}
.innerLogin{
  padding: 10%;
}
.main-2{
  /* width: 500px; */
  /* height: 500px; */
  /* background-color:rgba(244, 242, 236, 0.3); */
  background: rgba(70, 61, 207, 0.3) !important;
  backdrop-filter: blur(10px);
  justify-content: center;
  text-align: center;
  /* padding:  */
  /* margin: auto 15px 100px 10px ; */
  margin-top: auto !important;
  font-family:monospace !important;
  border-radius: 10px;

}
@import url('https://fonts.cdnfonts.com/css/supertalls');

.wellCome{
  /* font-family: " Kenyan Coffee" !important; */
  font-family: 'Supertalls', sans-serif !important;                
  font-size: 12rem !important;
  /* font-weight: bold;   */
  letter-spacing: 11px !important;                                     
  /* font-style: "Regular"; */
  color:white;
  margin-top: 75px !important;
  /* height: 100px !important;
  width: 100px !important; */
  justify-content: center !important;
  align-items: center !important;
}
.wellCome2{
  -webkit-text-stroke: 1.5px black;
  color: white;
  font-size: 3rem !important;
}
.main-2 p{

  }

.main_login p{
  /* font-family: monospace; */
  font-weight: bold;
  word-spacing: 5px !important;
}
.login_btn{
  font-weight: bold !important;
  color: white !important;
  /* background: -webkit-linear-gradient(#152B6E,#129DDE) !important; */
  background: linear-gradient(#152B6E 0%, #129DDE 87.5%) !important;
  padding: 3% 6% 3% 6% !important;
  max-width: auto;
  border-radius: 15px !important;
  /* line-height: 30px !important; */
  /* font-size: 'Beatrix Antiqua' !important; */
  /* padding: 2% 8% 2% 8% !important; */
}





/* ///////////////////////// Dashboard side nav //////////////////////////////// */
.main_dashboard {
  /* background-image: url(/public/images/vulcanbg_2.jpeg); */
  background-image: url(/public/images/login_bg.jpeg) !important;
  
  background-position: center;
  position: absolute;
  /* background-repeat: no-repeat !important; */
  /* background-size: cover !important; */
  /* overflow: hidden; */

}
.blur_color{
   /* background: rgba(0, 0, 0, 0.3) !important; */

  backdrop-filter: blur(15px) !important;
  background: -webkit-linear-gradient(#1F396C,#c0369b94) !important;



}
.side_main{
  padding-bottom: 5%!important;
  border: 2px solid rgba(6, 205, 253, 1) !important;

}
.side_bar_div{
  padding: 1% 4% !important;
}

 .side-nav-link:hover{
  cursor: pointer;
  color: #ed9600 !important;
}

.side-nav-link{
  color:white !important ;
  cursor: pointer;

}
/* //////////////////////////////// NFT //////////////////////////////// */
.nftMainBox{
  padding: 2% !important;
}
.nftBox{
  /* background: linear-gradient(rgba(8, 10, 11, 0.38) 0%, rgba(93, 41, 103, 0.02) 100%) !important; */
  background-color: #352E5B !important;
  width: 100% !important;
  padding: 0% 3% 0% 3% !important;

}
.cardText{
  width: 148px;
height: 19px;

font-family: 'Eurostile LT Pro Unicode';
font-style: normal;
font-weight: 400;
line-height: 19px;

color: #ffffffd3;
font-size: 14px;

}
.boXCard{
  border-radius: 8px;
  border: 2px solid rgba(6, 205, 253, 1) !important;
  height: 6.5rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.search_background{
  background-color: rgba(3, 3, 3, 0.3) !important;
  backdrop-filter: blur(15px) !important;
  /* border: 2px solid rgba(163, 163, 163, 1) !important; */

}
.search_background_2{
  background-color: rgba(3, 3, 3, 0.3) !important;

}
.search_background_fund{

  background-color: rgba(3, 3, 3, 0.3) !important;
  width: 100% !important;
  height: 100% !important;
  justify-content: center !important;
  text-align: center !important;
  /* margin-top: 5% !important; */
  /* background-color: rgba(0, 0, 0, 0.3) !important; */


}


::placeholder{
  color: rgba(161, 161, 161, 1) !important;
}
.displayFlex{
  display: flex !important;
  flex-direction: column;
}

/* //////////////////////////////////  Wallet    /////////////////////////////////////// */
.wallet_main{
  padding: 1% !important;

}
.wallet_first{
  background: -webkit-linear-gradient(#1F396C,#636ccdca) !important;

}
.walletCard{
  backdrop-filter: blur(15px);
  padding-top: 4%;
  padding-bottom: 2%;
 background: rgba(39, 25, 25, 0.3) !important;
  /* border-bottom: 2px solid red !important; */
  border: 1px solid rgba(6, 205, 253, 1) !important;

  
}
.divide{
  background-color: rgba(141, 141, 141, 1) !important;
  margin-top: 2%;
}
.cardInput{
  border: 1px solid rgba(141, 141, 141, 1) ;
  border-radius: 20px;
}
.withdrawBtn{
  border: 1px solid rgba(6, 205, 253, 1) !important;
  border-radius: 10px !important;
  color: white !important;
  width: 100%;
  padding: 7% !important;
}





/* ///// My Fund & My Assets End///////// */
.nab_btn{
  /* background: none !important; */
  
}
.all_main{
  background: -webkit-linear-gradient(#1F396C,#c0369b94) !important;
  border: 2px solid rgba(6, 205, 253, 1) !important;

}
.selectBtn{
  background-color: rgba(0, 0, 0, 0.3) !important;
  width: 100%;
}
.card-title1{
  font-family: 'Eurostile', sans-serif !important;
  letter-spacing: 1px !important;

  }
  .card-title2{
  font-family: 'Eurostile', sans-serif !important;
  letter-spacing: 1px !important;
  }
  .all_events_box {
    border-bottom: 2px dashed #f26000;
  }
  .tabs_events.nav-pills button.active,
.nav-pills .show>.button {
  /* background: linear-gradient(180deg, #F59E00 0%, #9F4A00 87.5%); */
  background: linear-gradient(180deg, rgba(18, 157, 222, 1), rgba(21, 43, 110, 1));
  border-radius: 5px;
  border: none !important;
  border-bottom: 3px solid;
}

.tabs_events.nav-pills button {
  padding: 10px 35px;
  transition: ease 0.5s;
  /* font-family: 'Beatrix Antiqua'; */
  color: white;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgba(6, 205, 253, 1) !important;
  padding: 2% 0% 3% 0% !important;
  background-color:transparent;
}
.tabs_events1.nav-pills button {
  transition: ease 0.5s;
  /* font-family: 'Beatrix Antiqua'; */
  color: white;
  width: 70%;
  /* border-radius: 5px; */
  background-color:transparent;
}
.tabs_events1.nav-pills button.active,
.nav-pills .show>.button {
  background: linear-gradient(180deg, rgba(18, 157, 222, 1), rgba(21, 43, 110, 1));


  /* border-radius: 5px; */
  /* border: 2px solid none !important; */
  margin-top: 10px !;
}

/* //////////////////////////// fund card guru ///////////////////////// */
.tabs_events2.nav-pills .linked{
  /* padding: 10px 35px; */
  transition: ease 0.5s;
  text-align: center;

  /* font-family: 'Beatrix Antiqua'; */
  color: white;
  width: 100%;
  /* border-radius: 5px; */
  /* border-bottom: 2px solid rgba(6, 205, 253, 1) !important; */
  /* padding: 0% !important; */
  /* background-color:transparent; */
}

.tabs_events2.nav-pills .linked .active,
.nav-pills .show>.linked {
  justify-items: center;
  text-align: center;
  /* background: linear-gradient(180deg, #F59E00 0%, #9F4A00 87.5%); */
  /* background: linear-gradient(180deg, rgba(18, 157, 222, 1), rgba(21, 43, 110, 1)) !important; */
  border-bottom: 2px solid rgba(6, 205, 253, 1) ;
  /* border-radius: 5px; */
  /* border: none !important; */
}

.tabs_events2.nav-pills .linked:hover{
  border-bottom: 2px solid rgba(6, 205, 253, 1) ;
  

}


/* ////////////////////////////////////////////////////////////////////////////// */
.tabs_events.nav-pills button:hover{
  background: linear-gradient(180deg, rgba(18, 157, 222, 1), rgba(21, 43, 110, 1));
border-radius: 5px;
}
/* ///////////// Side nav //////////// */

.card-main{
  /* background-color: #2E3036 !important; */
  padding: 5% !important;
  border-radius: 5px;
  background: none;
  border: 2px solid rgba(6, 205, 253, 1) !important;

}
.swap_history{
  background: linear-gradient(180deg, rgba(18, 157, 222, 1), rgba(21, 43, 110, 1));
  padding: 1% 0% 1% 2%;
  width: 100%;
  margin: 0 !important;
}
.OrangeText {
  color: #f26000;
}
.BtnBorder {
  position: relative;
  font-family: "Trueno SemiBold";
  font-size: 20px !important;
  line-height: 1.5 !important;
  color: #fff;
  z-index: 1;
  padding: 12px 16px !important;
}
.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}
.BtnBorder::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
  padding: 2% 5% !important;
/* background: linear-gradient(180deg, #F59E00 0%, #9F4A00 87.5%); */
background: linear-gradient(180deg, rgba(18, 157, 222, 1), rgba(21, 43, 110, 1));

  mask-composite: exclude;
  z-index: -1;
}
.border-0 {
  border: 0 !important;
}

.form-control.h-pxl-48, .form-select.h-pxl-48 {
  min-height: 48px;
}
.form-control, .form-select {
  background-color: #202022;
  border-color: #6A6F7766;
  min-height: 40px;
  color: #707070;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.g-1, .gx-1 {
  --bs-gutter-x: 0.5rem !important;
}
.form-control.h-pxl-48, .form-select.h-pxl-48 {
  min-height: 48px;
}
.form-control, .form-select {
  background-color: #202022 !important ;
  border-color: #6A6F7766 !important;
  min-height: 40px;
  color: #707070 !important;
}
.rounded-1 {
  border-radius: 0.5rem !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.table_data{
  background: linear-gradient(180deg, rgba(18, 157, 222, 1), rgba(21, 43, 110, 1));

}
/* ////////////////////////////      Profile    ////////////////////////////////////////// */
.text_label{
  color: rgba(255, 255, 255, 0.822)  !important;
  font-family: "Eurostile LT Pro Unicode" !important;
}

.profile_input{
  color: white !important;
  border: 1.5px solid #1a97ef  !important;
 
}

/* ////////////////////////////////// media Queries /////////////////////////////////////////////// */

@media screen and (max-width: 1200px) {
  
  .signInCarousel {
    display: none;
  }
  .table-container{
    overflow: scroll;
  }
  .top_main{
    padding: 0% !important;
  }
  .side_bar_div{
    padding: 0.5% !important;
  }
  .main-2{
    padding: 0 !important;
  }
}






/* === shivam */

.borderNft{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid rgba(6, 205, 253, 1) !important;

  width: 50px;
  height: 50px;
}



/* ////////////////////////////      Profile    ////////////////////////////////////////// */
  



